h1{
    color: #822b61;
    text-align: center;
    font:  didot  ;
}

.ll{
    background-color: #2b8254;
    border-color:#ebb434 ;
    margin: auto;
    font-variant: small-caps;
}
body{
    background-color: #825fc2;
}

