.vscode
c_cpp_properties.json
Untitled1.cpp
Sem-2/Any/angkota
Sem-2/Any/bintangg
Sem-2/Any/TugasDosen2
Sem-2/tempCodeRunnerFile.c
Sem-1/Any
random/nice.cpp
random/laaa.c
random/cbcb.c
Sem-3/__pycache__
Sem-3/tempCodeRunnerFile.py
Sem-3/672022302_Tugas1.rar