.vscode
c_cpp_properties.json
Untitled1.cpp
.Sem-1/Any/web
.Sem-1/Any/.code
.Sem-1/Any/Java
.random/nice.cpp
.random/laaa.c
.random/cbcb.c
.Sem-2/.Any/angkota
.Sem-2/.Any/tempCodeRunnerFile.js
.Sem-2/.Any/tempCodeRunnerFile.c
.Sem-2/.Any/bintangg
.Sem-2/.Any/TugasDosen2
.Sem-2/tempCodeRunnerFile.c
.Sem-2/Tugas1_672022302.o
.Sem-2/sadasd.txt
.Sem-2/tugasasdos.o
.Sem-3/__pycache__
.Sem-3/tempCodeRunnerFile.py
.Sem-3/672022302_Tugas1.rar
.Asdos/tempCodeRunnerFile.c
