<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tugas2">

    <application
        android:allowBackup="true"
        android:label="Tugas2"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <activity android:name=".Dashboard" />
        <activity android:name=".SignUpScreen" />
        <activity android:name=".SignInScreen" android:exported="true">

        <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>

