* {
    margin: 0;
    padding: 0;
}

.content-wrapper {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url('./background.jpg');
    background-size: cover;
}

.content-wrapper .content {
    padding: 20px 40px;
    background: #F2E7D5;
    border-radius: 10px;

}

.content-wrapper .content .table {
    border-collapse: collapse;
}

.content-wrapper .content .table td {
    border: .5px solid #a3a3a3;
    width: 240px;
    padding: 10px 5px;
}